.linkbutton {
  background: none !important;
  border: none;
  padding: 2 !important;
  font-size: 12px;
  text-transform: none !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
